{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card shadow-sm">
            <div class="table-responsive">
                <table class="table table-hover table-striped mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>Server</th>
                            <th>Block Height</th>
                            <th>Status</th>
                            <th>Last Checked</th>
                            <th>Ping</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for server in servers %}
                        <tr {% if server.is_height_behind(percentile_height) %}class="height-behind"{% else if server.is_height_ahead(percentile_height) %}class="height-ahead"{% endif %}>
                            <td><a href="/{{ current_network }}/{{ server.host }}">{{ server.host_with_port() }}</a></td>
                            <td>
                                {{ server.height }}
                                {% if server.is_height_behind(percentile_height) %}
                                <span class="text-warning" title="Server is behind the majority">⚠️</span>
                                {% else if server.is_height_ahead(percentile_height) %}
                                <span class="text-primary" title="Server is ahead of the majority">ℹ️</span>
                                {% endif %}
                            </td>
                            <td class="status-{% if server.height > 0 %}online{% else %}offline{% endif %}">
                                {% if server.height > 0 %}Online{% else %}Offline{% endif %}
                            </td>
                            <td>{{ server.last_updated }}</td>
                            <td>{{ server.formatted_ping() }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
